<div
  class="flex-1 overflow-y-hidden overflow-x-hidden flex flex-col items-start justify-start gap-4 animate-fade-in-down transition-opacity duration-500 ease-out"
>
  <p><%= tab %></p>
</div>
