<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
    <script src="/sweetalert2/dist/sweetalert2.min.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body class="font-poppins">
    <div
        class="flex flex-col items-center justify-center min-h-screen bg-[#F5F5FC] sm:bg-[#E5E6F2] dark:bg-[#161616] sm:dark:bg-[#08090C]">

        <i class='bx bx-error-circle text-9xl mb-4'></i>
        <h1 class="text-4xl font-bold mb-4">Forbidden</h1>
        <p class="mb-4">You are not access to this site.</p>

        <button onclick="history.back()" class="bg-blue-600 hover:bg-blue-700 text-white w-32 p-2 rounded-full">Go
            Back</button>

    </div>
    <script src="/flowbite/dist/flowbite.min.js"></script>
</body>

</html>