<div
    class="flex-1 overflow-y-hidden overflow-x-hidden flex flex-col items-start justify-start gap-4 p-4 animate-fade-in-down transition-opacity duration-500 ease-out space-y-2">

    <div class="w-full">
        <h1 class="text-2xl font-bold mb-1">Innovative technology systems</h1>
        <p class="text-gray-500 font-semibold">
            <%= siteName.name %>, <%= siteName.description %>
        </p>
    </div>

    <div class="w-full max-h-64 overflow-auto">
        <div class="w-full flex items-center gap-2 p-4 rounded-lg border border-gray-300 bg-gray-50 dark:bg-black dark:border-gray-600"
            role="alert">
            <div class="flex-1  text-sm font-medium text-light-text dark:text-dark-text line-clamp-2">
                <span class="font-bold">Important!</span> Server update on 01.00AM - 25/01/2025, Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. A
                possimus corporis impedit et soluta ullam,
                eligendi delectus veritatis fuga, enim, sint voluptatem. Laudantium animi accusantium sit sequi sapiente
                libero quae!
            </div>
            <a href="#"
                class="text-xl font-semibold underline text-light-text dark:text-dark-text hover:no-underline">More</a>
        </div>
    </div>

    <div class="w-full flex-1 overflow-auto space-y-2">

        <div class="w-full flex items-center justify-start gap-2">
            <h6 class="font-semibold text-lg">Overall</h6>
            <i class='bx bx-bell text-lg'></i>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">

            <div class="bg-cyan-500/15  rounded-lg p-4">
                <h3 class="text-sm font-semibold text-cyan-500 mb-1">Online</h3>
                <div class="flex items-baseline ms-6">
                    <span class="text-light-text dark:text-dark-text text-2xl font-bold">1964</span>
                    <span class="text-sm text-light-text dark:text-dark-text ml-1">/2000</span>
                </div>
            </div>

            <div class="bg-yellow-400/25 rounded-lg p-4">
                <h3 class="text-sm font-semibold text-yellow-500 mb-1">In Repair</h3>
                <div class="flex items-baseline ms-6">
                    <span class="text-light-text dark:text-dark-text text-2xl font-bold">5</span>
                    <span class="text-sm text-light-text dark:text-dark-text ml-1">/26</span>
                </div>
            </div>

            <div class="bg-red-500/25 rounded-lg p-4">
                <h3 class="text-sm font-semibold text-red-500 mb-1">Not Checked</h3>
                <div class="flex items-baseline ms-6">
                    <span class="text-light-text dark:text-dark-text text-2xl font-bold">0</span>
                </div>
            </div>

            <div class="bg-orange-500/25 rounded-lg p-4">
                <h3 class="text-sm font-semibold text-orange-500 mb-1">Batt Never Full</h3>
                <div class="flex items-baseline ms-6">
                    <span class="text-light-text dark:text-dark-text text-2xl font-bold">999</span>
                    <span class="text-sm text-orange-400 ml-1">in 3 Days</span>
                </div>
            </div>

        </div>

    </div>